@import "tailwindcss";

@theme {
  /* Colors */
  --color-my-primary: theme('color.green.500');
  --color-my-secondary: theme('color.pink.500');
  --color-black-xl: theme('color.neutral.950');
  --color-black-lg: theme('color.neutral.900');
  --color-black-md: theme('color.neutral.800');
  --color-black-sm: theme('color.neutral.700');
  --color-black-xs: theme('color.neutral.600');
  --color-black-light: theme('color.neutral.400');
  --color-background: #333333;
  
  /* Spacing */
  --spacing-my-xs: theme('spacing.2');
  --spacing-my-sm: theme('spacing.4');
  --spacing-my-md: theme('spacing.6');
  --spacing-my-lg: theme('spacing.12');
  --spacing-my-xl: theme('spacing.16');

  /* Breakpoints */
  --breakpoint-xs: 30rem;
  --breakpoint-2xs: 25rem;
}

body {
  color: white;
  font-family: var(--font-inter), 'Helvetica', sans-serif;
}

.button {
  @apply cursor-pointer px-4 py-2 rounded-md hover:brightness-90 flex justify-center items-center font-medium;
}

.button--circle {
  @apply p-my-xs rounded-full;
}

.button--white {
  @apply text-black bg-white;
}

.button--primary {
  @apply text-white bg-my-primary/80;
}

.button--dark {
  @apply text-white bg-black-lg border border-black-md
}

.text-input {
  @apply px-3 py-2 bg-neutral-950 rounded-md;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: theme('color.neutral.900');
}

::-webkit-scrollbar-thumb {
  background-color: theme('color.neutral.700')  ;
  border-radius: 6px;
}